.card {
  width: 25rem;
  background-color: #fff;
  border: 1px solid rgb(78, 78, 78);
  padding: 0.2cm;
  margin-bottom: 2cm;
}

.card-body {
  font-weight: bold;
  background-color: #fff;
}

h5 {
  font-weight: bold;
  background-color: #fff;
  font-size: 22px;
  margin-top: 0.5cm;
}

p {
  background-color: #fff;
}

.btn-info {
  margin-left: 0;
  font-weight: bold;
}
