.bkg-Checkout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Checkout {
  position: relative;
  width: 60vw;
  height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.inputContainer1,
.inputContainer2,
.inputContainer3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  color: rgb(78, 78, 78);
  text-align: center;
}
.inputContainer1 label,
.inputContainer2 label,
.inputContainer3 label {
  font-size: 16px;
  font-weight: bold;
}
.inputContainer1 input,
.inputContainer2 input,
.inputContainer3 input {
  width: 55%;
  line-height: 1.5em;
}
.exitIcn {
  position: absolute;

  right: 15px;
  top: 15px;

  font-size: 1.3em;
  cursor: pointer;
}

.inputContainer p {
  background-color: #f5f5f5;
  color: rgb(78, 78, 78);
  font-size: 20px;
}

.inputContainer span {
  text-decoration: underline;
  color: rgb(78, 78, 78);
  font-size: 20px;
  background-color: #f5f5f5;
}

.inputContainer2 {
  margin-top: 0.3cm;
  margin-bottom: 0.3cm;
}
