.btn {
  border: 1px solid black;
  margin: 0.5cm;
}

input {
  text-align: center;
}

.btn-danger {
  background-color: rgb(238, 173, 173);
  color: rgb(78, 78, 78);
  font-weight: bolder;
}

.btn-info {
  background-color: lightblue;
  color: rgb(78, 78, 78);
  font-weight: bolder;
}
