.contador {
  text-align: center;
  align-content: center;
  align-items: center;
}

.btn {
  border: 1px solid black;
  margin: 0.5cm;
}

input {
  text-align: center;
}

.btn-danger {
  background-color: rgb(238, 173, 173);
  color: rgb(78, 78, 78);
  font-weight: bolder;
}

.btn-info {
  background-color: lightblue;
  color: rgb(78, 78, 78);
  font-weight: bolder;
}

.add2 {
  width: min-content;
  font-weight: normal;
  font-size: 16px;
  color: black;
}

@media (min-width: 768px) {
  input {
    width: 50px;
  }
}

@media (min-width: 1024px) {
  input {
    width: 100px;
  }
}
