* {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  background-color: #fff;
  align-items: center;
  height: 120px;
  padding: 0;
  border-bottom: 2px solid rgb(165, 165, 165);
}

.container {
  text-align: left;
  margin: 0.2cm;
  margin-left: 1.5cm;
  width: 30%;
  padding: 0;
}

.nav-menu {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
}

.nav-item {
  margin: 1cm;
  font-weight: bold;
}
.nav-link {
  text-decoration: none;
  color: rgb(124, 124, 124);
  font-weight: bolder;
}

.nav-link:hover {
  color: black;
}

.nav-link .active {
  color: black;
}
